@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* --font-XX: "Nanum Pen Script"; */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Bevan&family=Langar&family=Oleo+Script&family=Patua+One&family=Yeseva+One&display=swap");
/* font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Bevan', cursive;
font-family: 'Langar', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Patua One', cursive;
font-family: 'Yeseva One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
/* font-family: 'Vidaloka', serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
/* font-family: 'Noto Serif', serif; */
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
/* font-family: 'Exo', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Amiko&display=swap");
/* font-family: 'Amiko', sans-serif; */

:root {
  --primary-color: #9fabe0;
  --higlight-color: #c598af;
  --higlight-color-darker: #a96789;
  --dark-shade-00: #070b08;
  --dark-shade-01: #7e88a0;
  --dark-shade-02: #4e5564;
  --light-shade-00: #eff0f3;
  --light-shade-01: #c2c7d2;

  --font-standard: "Exo";
  --font-title: "Noto Serif";
  --font-headers: "Amiko";
}

html {
  height: 100%;
}

body {
  font-family: var(--font-standard), sans-serif;
  color: var(--dark-shade-00);
  margin: 0;
  height: 100%;
  background-color: var(--light-shade-00, white);
}
