@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-color: #686d76;
  --primary-color-light-00: #777b83;
  --higlight-color: #13aab0;
  --higlight-color-dark-00: #0f888c;
  --higlight-color-dark-01: #0b6669;
  --higlight-color-lighter: #a0dddf;
  --dark-shade-00: #373a40;
  --dark-shade-005: #4b4d53;
  --dark-shade-01: #5e6166;
  --dark-shade-02: #87888c;
  --light-shade-00: white;
  --light-shade-01: #eeeeee;
  --light-shade-015: #d6d6d6;
  --light-shade-02: #bebebe;

  --font-standard: "Lato";
  --font-title: "Noto Serif";
  --font-headers: "Amiko";
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
